@import "tailwindcss";

@theme {
  --color-brand-lime: #bee035;
  --color-brand-light: #caea71;
  --color-brand-purple: #844071;
  --color-brand-blue: #404f84;
  --color-brand-gray: #443b3b;
  --color-dark-gray: #827d7d;
  --color-light-gray: #d9d9d9;
  --color-lighter-gray: #ececec;
}

@layer utilities {
  .text-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-brand-lime via-brand-purple to-brand-blue;
  }
  .gradient-separator {
    @apply bg-gradient-to-r from-brand-light via-brand-purple to-brand-blue h-[9px];
  }
  .button-rounded {
    @apply border border-dark-gray bg-light-gray h-11 w-11 rounded-full flex justify-center items-center;
  }
  .button-rectangle {
    @apply border border-dark-gray bg-light-gray py-2 px-6 rounded-lg text-center text-sm;
  }
  .button-rectangle.selected {
    @apply bg-[#E5E5DF] font-semibold;
  }
}

body {
  font-family: "Exo", sans-serif;
  font-weight: 500;
  background-color: var(--color-lighter-gray);
  margin: 0;
  letter-spacing: 0.07em;
  line-height: 100%;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
}

input[type="range"]::-moz-range-thumb {
  width: 0;
  height: 0;
  border: none;
  background: transparent;
}
