@import "tailwindcss";

@layer utilities {
  .text-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-[#BEE035] via-[#844071] to-[#404F84];
  }
  .button-rounded {
    @apply border-[#827D7D] border-solid border-1 bg-[#D9D9D9] h-10 w-10 rounded-full flex justify-center items-center;
  }
}

body {
  font-family: "Exo", sans-serif;
  font-weight: medium;
  background-color: #ececec;
  margin: 0;
  letter-spacing: 0.07em;
  line-height: 100%;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
}

input[type="range"]::-moz-range-thumb {
  width: 0;
  height: 0;
  border: none;
  background: transparent;
}
